$bp-lg: 800px;
$bp-md: 600px;
$num-cards-row: 3;

:root {
  --d: 7000ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(161, 175, 206);
}

.main-menu-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

  .card-container {
    grid-template-columns: repeat($num-cards-row, 1fr);
    padding: 0;
    list-style-type: none;
    display: inline-grid;
    place-items: center;
    max-width: 1024px;
    grid-gap: 1rem;
    width: 100%;

    @media (min-width: $bp-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $bp-lg) {
      grid-template-columns: repeat($num-cards-row, 1fr);
    }
  }

  .card {
    width: 15rem;
    height: 350px;
    background-image: rgba(71, 118, 206, 0.493);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1),
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);


    &.architecture {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(to bottom,
          hsla(0, 0%, 0%, 0) 0%,
          hsla(0, 0%, 0%, 0.009) 11.7%,
          hsla(0, 0%, 0%, 0.034) 22.1%,
          hsla(0, 0%, 0%, 0.072) 31.2%,
          hsla(0, 0%, 0%, 0.123) 39.4%,
          hsla(0, 0%, 0%, 0.182) 46.6%,
          hsla(0, 0%, 0%, 0.249) 53.1%,
          hsla(0, 0%, 0%, 0.320) 58.9%,
          hsla(0, 0%, 0%, 0.394) 64.3%,
          hsla(0, 0%, 0%, 0.468) 69.3%,
          hsla(0, 0%, 0%, 0.540) 74.1%,
          hsla(0, 0%, 0%, 0.607) 78.8%,
          hsla(0, 0%, 0%, 0.668) 83.6%,
          hsla(0, 0%, 0%, 0.721) 88.7%,
          hsla(0, 0%, 0%, 0.762) 94.1%,
          hsla(0, 0%, 0%, 0.790) 100%), url("assets/image.jpg");

    }

    &:hover {
      cursor: pointer;

      &.architecture {
        animation-fill-mode: forwards;
        animation: Animation 5s ease infinite, Gradient 2s forwards;

      }

      @keyframes Animation {
        0% {
          background-position: 10% 0%
        }

        50% {
          background-position: 91% 100%
        }

        100% {
          background-position: 10% 0%;
        }
      }

      @keyframes Gradient {
        0% {
          background-image: linear-gradient(to bottom,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.009) 11.7%,
              hsla(0, 0%, 0%, 0.034) 22.1%,
              hsla(0, 0%, 0%, 0.072) 31.2%,
              hsla(0, 0%, 0%, 0.123) 39.4%,
              hsla(0, 0%, 0%, 0.182) 46.6%,
              hsla(0, 0%, 0%, 0.249) 53.1%,
              hsla(0, 0%, 0%, 0.320) 58.9%,
              hsla(0, 0%, 0%, 0.394) 64.3%,
              hsla(0, 0%, 0%, 0.468) 69.3%,
              hsla(0, 0%, 0%, 0.540) 74.1%,
              hsla(0, 0%, 0%, 0.607) 78.8%,
              hsla(0, 0%, 0%, 0.668) 83.6%,
              hsla(0, 0%, 0%, 0.721) 88.7%,
              hsla(0, 0%, 0%, 0.762) 94.1%,
              hsla(0, 0%, 0%, 0.790) 100%), url("assets/image.jpg");
        }

        50% {
          background-image: linear-gradient(to bottom,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.009) 11.7%,
              hsla(0, 0%, 0%, 0.034) 22.1%,
              hsla(0, 0%, 0%, 0.072) 31.2%,
              hsla(0, 0%, 0%, 0.123) 39.4%,
              hsla(0, 0%, 0%, 0.182) 46.6%,
              hsla(0, 0%, 0%, 0.249) 53.1%,
              hsla(0, 0%, 0%, 0.320) 58.9%,
              hsla(0, 0%, 0%, 0.394) 64.3%,
              hsla(0, 0%, 0%, 0.468) 69.3%,
              hsla(0, 0%, 0%, 0.540) 74.1%,
              hsla(0, 0%, 0%, 0.607) 78.8%,
              hsla(0, 0%, 0%, 0.668) 83.6%,
              hsla(0, 0%, 0%, 0.721) 88.7%,
              hsla(0, 0%, 0%, 0.762) 94.1%,
              hsla(0, 0%, 0%, 0.790) 100%), url("assets/image.jpg");
        }

        100% {
          background-image: linear-gradient(to bottom,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.009) 11.7%,
              hsla(0, 0%, 0%, 0.034) 22.1%,
              hsla(0, 0%, 0%, 0.072) 31.2%,
              hsla(0, 0%, 0%, 0.123) 39.4%,
              hsla(0, 0%, 0%, 0.182) 46.6%,
              hsla(0, 0%, 0%, 0.249) 53.1%,
              hsla(0, 0%, 0%, 0.320) 58.9%,
              hsla(0, 0%, 0%, 0.394) 64.3%,
              hsla(0, 0%, 0%, 0.468) 69.3%,
              hsla(0, 0%, 0%, 0.540) 74.1%,
              hsla(0, 0%, 0%, 0.607) 78.8%,
              hsla(0, 0%, 0%, 0.668) 83.6%,
              hsla(0, 0%, 0%, 0.721) 88.7%,
              hsla(0, 0%, 0%, 0.762) 94.1%,
              hsla(0, 0%, 0%, 0.790) 100%), url("assets/image.jpg");
        }
      }
    }

  }




  a {
    color: white;
    text-decoration: solid;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h1 {
    font-size: xx-large;
    text-align: center;
  }

  .content {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    align-self: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
  }

  .card:hover .content {
    animation: up 800ms;
    animation-fill-mode: forwards;

    @keyframes up {

      0%,
      10% {
        bottom: 0%;
      }

      90%,
      100% {
        bottom: 45%;
      }
    }

  }





}